<mat-card>
    <div class="table-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр таблици">
        </mat-form-field>
      </div>
<div class="table-container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" >
    <!-- Position Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> Номер в БД </th>
      <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="orderNum">
      <th mat-header-cell *matHeaderCellDef> Номер заказа </th>
      <td mat-cell *matCellDef="let element"> {{element.orderNum}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cancelDate">
        <th mat-header-cell *matHeaderCellDef> Дата отмены заказа </th>
        <td mat-cell *matCellDef="let element"> {{element.cancelDate}} </td>
      </ng-container>
      
  
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
  [pageSize]="13"
  [pageSizeOptions]="[10, 13, 15, 20, 25, 30, 40, 100]">
</mat-paginator>
</div>
</mat-card>